################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/jSchemaTools/obj/Debug
/jSchemaTools/bin/Debug
/.vs
/jSchemaTools/obj/Release
/packages/Newtonsoft.Json.11.0.2
/packages/Newtonsoft.Json.Schema.3.0.10
