################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/jSchemaTools/obj/Debug
/jSchemaTools/bin/Debug
